<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Default suite">
	<test verbose="2" name="New User Registration">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="org.edusoft.trainings.selenium.newtours.tests.NewTours">
				<methods>
					<include name="testRegistration" />
				</methods>
			</class> <!-- org.edusoft.trainings.selenium.newtours.tests.NewTours -->
		</classes>
	</test> <!-- Default test -->
	<test verbose="2" name="New User Registration">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="org.edusoft.trainings.selenium.newtours.tests.NewTours">
				<methods>
					<!-- <include name="testRegistration" /> -->
					<include name="testLogin" />
				</methods>
			</class> <!-- org.edusoft.trainings.selenium.newtours.tests.NewTours -->
		</classes>
	</test> <!-- Default test -->
</suite> <!-- Default suite -->
